<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Shop)}"/>

<div class="container">
    <br>
    <h1>@GeekMarket</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Название книги</th>
            <th>Краткое описание</th>
            <th>Год издания</th>
            <th></th>
        </tr>
        </thead>

        <tr class="responsive-row" th:each="book : ${BooksList}">
            <td th:text="${book.id}"/>
            <td th:text="${book.title}"/>
            <td th:text="${book.description_text}"/>
            <td th:text="${book.year_manufacture}"/>
        </tr>
    </table>
</div>

</body>
<footer>
    <div th:insert="~{my-footer :: foot}">
    </div>
</footer>
</html>